@using Events.UI.Helpers
@using System.Net
@using Events.UI.Models;
@using Microsoft.AspNetCore.WebUtilities

@model EventTable

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                <a href="@Url.ActionLink("EventTable", "Home" , Model.ColumnTableFilters.SingleOrDefault(x => x.order_by_column == EventTableColumn.id))">
                    <span>Key</span>
                </a>
            </th>
            <th>
                <a href="@Url.ActionLink("EventTable", "Home" , Model.ColumnTableFilters.SingleOrDefault(x => x.order_by_column == EventTableColumn.category))">
                    <span>Category</span>
                </a>
            </th>
            <th>
                <a href="@Url.ActionLink("EventTable", "Home" , Model.ColumnTableFilters.SingleOrDefault(x => x.order_by_column == EventTableColumn.name))">
                    <span>Name</span>
                </a>
            </th>
            <th>
                <a href="@Url.ActionLink("EventTable", "Home" , Model.ColumnTableFilters.SingleOrDefault(x => x.order_by_column == EventTableColumn.description))">
                    <span>Description</span>
                </a>
            </th>
            <th>
                <a href="@Url.ActionLink("EventTable", "Home" , Model.ColumnTableFilters.SingleOrDefault(x => x.order_by_column == EventTableColumn.place))">
                    <span>Place</span>
                </a>
            </th>
            <th>
                <a href="@Url.ActionLink("EventTable", "Home" , Model.ColumnTableFilters.SingleOrDefault(x => x.order_by_column == EventTableColumn.time))">
                    <span>Time</span>
                </a>
            </th>
            <th>
                <a href="@Url.ActionLink("EventTable", "Home" , Model.ColumnTableFilters.SingleOrDefault(x => x.order_by_column == EventTableColumn.image))">
                    <span>Image</span>
                </a>
            </th>
            <th>
                <a href="@Url.ActionLink("EventTable", "Home" , Model.ColumnTableFilters.SingleOrDefault(x => x.order_by_column == EventTableColumn.additional_info))">
                    <span>Additional Info</span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Any())
        {
            @foreach (var e in Model.Events)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Category</td>
                    <td>@e.Name</td>
                    <td>@e.Description</td>
                    <td>@e.Place</td>
                    <td>@e.Time</td>
                    <td> <img src='@(string.IsNullOrEmpty(e.ImagePath) ? "../img/no-image.jpg" : e.ImagePath)' alt="img" class="img-thumbnail float-left m-2" style="max-width: 150px; height: auto;"> </td>
                    <td>@e.AdditionalInfo</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="@Url.Action("Event", "Home", new { id = e.Id })" class="btn btn-sm btn-primary m-2">Edit</a>
                            <form asp-action="Delete" asp-route-id="@e.Id" onsubmit="return confirm('Are you sure you want to delete this event?');" style="display: inline-block;">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                There are no upcoming events. Create one by clicking "Create new event" button.
            </tr>
        }

    </tbody>
</table>